table, th, td { 
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
table {
    width: 400px;
}

.value {
    width: 60px;
    border-radius: 15px;
    background: #73AD21;
    text-align: center;
    margin-bottom: 10px;
    display: inline-block;
}
._spaced{
    margin: 20px;
    float: left;
}
.stat {
    margin-bottom: 10px;
    text-align: right;
}
.right-text {
    text-align: right;
}
.left-text {
    text-align: left;
}
.abs-stat {
    margin-bottom: 10px;
    text-align: left;
}
ul {
    list-style-type: none;
}
.unimportant {
    font-size: 50%;
    margin-bottom: 20px;
}
.actual{
    font-weight: bold;
    color: black;
    font-size: 110%;
}
.other{
    font-weight: 300;
    color: lightslategrey;
}
span.unimportant{
    margin-left: 20px;
}
